* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.userPreferences {
  text-align: center;
}

.error {
  color: red;
}

.details {
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  background-color: lightgrey;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.navbar {
  background: #2c394b;
  text-align: center;
  display: block !important;
  color: #fff;
}

.userPreferences form table {
  display: inline;
  font-weight: 500;
}

label {
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border: none;
  border-bottom: 2px solid #cccccc;
  outline: 0;
}

.selectWrapper {
  width: 95%;
  border-radius: 1rem;
  display: inline-block;
  /* overflow: hidden; */
  border: none;
}
.selectBox {
  width: 100%;
  border: 0px;
}

.submitBtn {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
}
